@import "tailwindcss";


body {
    background: none !important;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background-color: #1C1C1C;
    background-image:
        radial-gradient(circle, rgba(255,255,255,0.8) 2px, transparent 2px),
        radial-gradient(circle, rgba(255,255,255,0.4) 2px, transparent 2px),
        radial-gradient(circle, rgba(255,255,255,0.2) 2px, transparent 2px);
    background-repeat: repeat, repeat, repeat;
    background-size: 300px 300px, 150px 150px, 75px 75px;
    animation: moveParticles 120s linear infinite;
}

@keyframes moveParticles {
    to {
        background-position:
            -1200px  600px,
            1200px -600px,
            -800px  400px;
    }
}


