{% extends 'base.html.twig' %}

{% block title %}Publicación{% endblock %}
{% block body %}
  <div class="container mx-auto py-8" {{ react_component('PostShow', {
  data: data,
  apiUrl: apiUrl,
  user: app.user ? {
    id: app.user.id,
    username: app.user.username
  } : null
}) }}>
  </div>
{% endblock %}