{% extends 'base.html.twig' %}

{% block title %}Perfil de {{ initialData.user.username }}{% endblock %}
{% block body %}
  <div class="container mx-auto py-8"
  {{ react_component('Profile', {
      initialData: initialData,
      apiUrl: apiUrl
    }) }}>
  </div>
{% endblock %}